:root {
  --hatena-color: #5279e7;
}

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 1.5em;
  color: #333;
  background: #f5f5f5;
}

.login-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin: 25px 0px 20px;
  font-weight: bold;
}

#container {
  margin: 0px auto;
  font-size: 90%;
}

.body-box {
  max-width: 414px;
  margin: 0 auto 30px;
  background: #fff;
  padding: 20px 32px 40px; // 要素ではなく枠の大きさでwidth,heightの計算をする
  box-sizing: border-box; // http://phiary.me/css3-box-sizing/
}

form {
  display: block;
  margin-top: 0em;
}

.input-item {
  border: 1px solid #aaa;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: inset 1px 3px #ddd;
  margin-top: 20px;
}

.input-item-inner {
  width: 100%;
  overflow: hidden;
  float: left;
  position: relative;
  input {
    border: none;
    padding: 0.75em 5px;
    background: transparent;
    float: left;
    vertical-align: bottom;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
  }
}

#alternate-message {
  text-align: center;
  letter-spacing: 1px;
  color: #aaa;
  background: url(../asset/private/border.png) repeat-x left center; // 1pxの点を連続して表示することで水平線にしている
  overflow: hidden;
  margin: 20px 0;
  clear: both; // float要素の回り込みを解除するらしい
  span {
    // これを設定しないと、文字の上まで水平線が表示されてしまう
    display: inline-block;
    background: #fff;
    padding: 0 30px 0 30px;
  }
}

.submit-button {
  border: none;
  background: #5279e7;
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  letter-spacing: 1px;
  transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715); // よくわからん 読み込み時に上から降りてくるっぽい？
  display: block;
  border-radius: 5px;
  margin: 5px 0 0 0;
}

.checkbox-text {
  display: block;
  padding: 0 0 0 28px;
}

.checkbox-text {
  position: relative;
  cursor: pointer; // リンクをホバーしたときのカーソルになる
}

.config-button {
  padding: 10px 0;
  clear: both;
  text-align: left;
  position: relative;
}

// 自動ログインのチェックボックス
// ブラウザが描画するチェックボックスではなく、画像を使っている
.on,
.off {
  visibility: hidden;
  position: absolute;
}

.on + label:before {
  content: '';
  background: var(--hatena-color) url(../asset/private/checkbox.png) no-repeat left top;
  box-shadow: inset 0 1px 3px #3c68e4;
  border-color: #2556e1;
}

.on + label:before,
.off + label:before {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 1em;
  float: left;
  margin: 2px 8px 0 -28px;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  border-radius: 4px;
}
