.c-link {
  color: #1b69b6;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.c-link--small {
  @extend .c-link;
  font-size: 12px;
  font-weight: 400;
}

.c-link--li {
  margin-right: 15px;
  text-decoration: none;
  color: #1b69b6;
}
