<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title Document
  body
    header#l-header
      include component/header.pug
    main#l-main
      .l-main__description
        include component/main/description.pug
      .l-main__login
        include component/main/login.pug
    footer#l-footer
      include component/footer.pug
    script(src="togglePane.js")
