.c-input--box {
  width: 256px;
  height: 40px;
}

.c-input--search {
  width: 100%;
  border: 1px solid #e1e1e1;
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 42px;
}

.c-input--reset {
  position: relative;
  bottom: 40px;
  left: 226px;
  width: 30px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 22px;
  color: #757575;
  background: transparent;
  border: none;
}
