.u-current {
  background: #fff;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #6666c4;
  cursor: default;
}

.u-inactive {
  &:hover {
    color: #000;
    border-bottom: 2px solid #c4c4c4;
  }
}

.u-hidden {
  display: none;
}

// https://medium.freecodecamp.org/how-to-decide-whether-you-should-chain-or-extend-css-classes-a8e17d7a7b0b
.u-mgb {
  &5 {
    margin-bottom: 5px;
  }
  &10 {
    margin-bottom: 10px;
  }
  &15 {
    margin-bottom: 15px;
  }
  &20 {
    margin-bottom: 20px;
  }
}
