.p-ul--nav-cat {
  margin: 0;
  padding: 0;
  width: 50%;
}

.p-ul--pop-videos {
  padding: 8px;
  margin: 0;
}

.p-ul--main__relate-articles {
  padding: 0;
  margin-top: 0;
}

.p-ul--main__relate-contents {
  margin: 16px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 16px;
}
