.p-row {
  display: flex;
  align-items: center;
}

.p-row--spbt {
  @extend .p-row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.p-row--footer-links {
  display: flex;
  width: 970px;
  margin: 0 auto 20px;
}

.p-row--logos {
  display: grid;
  column-gap: 10px;
  grid-column-gap: 10px; /* Firefoxはこっちじゃないと効かない */
  margin-left: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
