.p-tab {
  display: grid;
  grid-template: 'sign-in register' 1fr / 1fr 1fr;
  border-radius: 4px 4px 0 0;
  border: 1px solid #e5e5e5;
}

@mixin p-tab__el($area) {
  grid-area: $area;
  text-align: center;
  font-size: 18px;
  background: #fafafa;
  color: #737373;
  padding: 12px 0;
}

.p-tab__sign-in {
  @include p-tab__el(sign-in);
  border-right: 1px solid #e5e5e5;
}

.p-tab__register {
  @include p-tab__el(register);
}
