<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="style.css")
  body
    header#l-header
      include component/_header.pug
    aside#l-recent
      include component/_recent.pug
    main#l-main
      include component/_main.pug
    aside#l-nav
      nav
        include component/_nav/_base.pug
    footer#l-footer
      include component/_footer.pug
